extends ../layout/layout.pug


append scripts
    link(rel="stylesheet" href="assets/css/main.css")

block content
        section(id="banner") 
                div(class="inner") 
                    header 
                        h1 Welcome to Projection
                    

                        div(class="flex" )
                        div 
                            span(class="icon fa-car") 
                            h3 Aliquam
                            p Suspendisse amet ullamco
                        

                        div 
                            span(class="icon fa-camera" )
                            h3 Elementum
                            p Class aptent taciti ad litora
                        

                        div 
                            span(class="icon fa-bug" )
                            h3 Ultrices
                            p Nulla vitae mauris non felis