<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test
    body
        .container
            table(class="table table-striped")
                tr
                    th Vendedor
                    th Minimo Venta
                    th Medio de Pago
                    th Comprar
                each calculation in calculations
                    tr
                        td #{calculation.buyer.name}
                        td #{calculation.buyer.min_amount}
                        td #{calculation.buyer.bank_name}
                        td
                            a(href=`${calculation.buyer.public_view}` class="btn btn-success btn-sm") Comprar