doctype strict
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rate Calculator | dashboard
    body
        h1 USERS